body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    text-align: center; 

}

.controls {
    display : flex;
    gap: 20px;

}

.sliders {
    flex:1.5;
}

.map {
    flex:2;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.grid {
    width: 400px;;
    aspect-ratio: 4 / 3;
    padding: 0px;
    border: 2px solid black;
    border-radius: 8px;
    position:relative;
    /*overflow: hidden;

    background-image:
        linear-gradient(to right, #b35959 1px, transparent 3px),
        linear-gradient(to bottom, #b35959 1px, transparent 3px);

    background-size: 50% 50%;*/
}

#camera {

    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;

    transform: scaleY(-1);
}

/*
.target{
    width:11px;
    height:11px;
    
    border: 2px solid black;
    border-radius: 50%;

    position:absolute;

    left: 50.5%;
    top: 50.5%;

    transform: translate(-50%, -50%);
}
*/
h1 {
    margin-bottom: 30px;
}

.servo-control {
    margin-bottom: 30px;
    padding: 9px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

input[type="number"] {
    width: 60px;
    padding: 8px;
    font-size: 16px; 
}

input[type="range"] {
    width: 80%;
    margin: 20px;
}

p { 
    font-size: 18px;
}

button {
    padding: 10px 30px;
    font-size: 16px; 
    cursor: pointer;
}